@model CoursesViewModel

@{
    ViewData["Title"] = "Courses";
}

<section class="courses">
    <div class="container">
        <h1>Courses</h1>
        <div class="course-list">
            @foreach(var item in Model.Courses)
            {
                <div class="course">
                    @if (item.IsBestseller)
                    {
                        <div class="best-seller">Best Seller</div>
                    }
                    <img class="course-image" src="~/images/CourseImages/@item.ImageName" />
                    <div class="content">
                        <h5 class="course-title">@item.Title</h5>
                        <div class="course-author">By @item.Author</div>
                        <div class="course-prices">
                            @if (item.DiscountPrice > 0)
                            {
                                <div class="discount-price">$@item.DiscountPrice</div>
                                <div class="original-price strikethrough">$@item.OriginalPRice</div>
                            }
                            else
                            {
                                <div class="original-price">$@item.OriginalPRice</div>
                            }
                        </div>

                        <hr />
                        <div class="course-footer">
                            <div class="course-hours"><i class="fa-regular fa-clock"></i> @item.Hours hours</div>
                            <div class="course-likes">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <span>@($"{item.LikesInProcent * 100:0}%")</span>
                                <span>(@($"{item.LikesInNumbers / 1000}K"))</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
