@{
    ViewData["Title"] = "Saved Courses";
    var user = await UserManager.GetUserAsync(User);
}

<section class="saved-courses">
    <div class="container">
        <aside>
            <div class="profile">
                <div class="profile-pic">
                    @if (string.IsNullOrEmpty(@user!.ProfilePictureUrl))
                    {
                        <img src="~/uploads/avatar.jpg" alt="profile image" />
                    }
                    else
                    {
                        <img src="~/uploads/@user!.ProfilePictureUrl" alt="profile image" />
                    }
                    <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn btn-circle btn-circle-sm"><i class="fa-regular fa-refresh"></i></label>
                    </form>
                </div>
                <div class="profile-info">
                    <h5>@($"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}")</h5>
                    <p>@Model.ProfileInfo.Email</p>
                </div>
            </div>
            <nav>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "Details" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="Details">Account Details</a>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "Security" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="Security">Security</a>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "Savedcourses" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="Savedcourses">Saved Courses</a>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "SignOut" ? "btn-theme-s" : "btn-transparent")" asp-controller="Auth" asp-action="SignOut">Sign out</a>
            </nav>

        </aside>

        <div class="details">
            <h1>Saved Items</h1>
            <button id="form-button" class="btn-transparent" type="submit">Delete all</button>
        </div>
    </div>
</section>

@await Html.PartialAsync("_ImageBtnScriptPartial")