@model AccountSecurityViewModel

@{
    ViewData["Title"] = "Security";
    var user = await UserManager.GetUserAsync(User);
}

<section class="security-details">
    <div class="container">
        <aside>
            <div class="profile">
                <div class="profile-pic">
                    @if (string.IsNullOrEmpty(@user!.ProfilePictureUrl))
                    {
                        <img src="~/uploads/avatar.jpg" alt="profile image" />
                    }
                    else
                    {
                        <img src="~/uploads/@user!.ProfilePictureUrl" alt="profile image" />
                    }
                    <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn btn-circle btn-circle-sm"><i class="fa-regular fa-refresh"></i></label>
                    </form>
                </div>
                <div class="profile-info">
                    <h5>@($"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}")</h5>
                    <p>@Model.ProfileInfo.Email</p>
                </div>
            </div>
            <nav>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "Details" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="Details">Account Details</a>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "Security" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="Security">Security</a>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "Savedcourses" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="Savedcourses">Saved Courses</a>
                <a class="@(ViewContext.RouteData.Values["Action"]!.ToString() == "SignOut" ? "btn-theme-s" : "btn-transparent")" asp-controller="Auth" asp-action="SignOut">Sign out</a>
            </nav>

        </aside>

        <div class="details">
            <section class="change-password">
                <form method="post" asp-controller="Account" asp-action="ChangePassword" novalidate>
                    <h2>Security</h2>
                    <h5>Password</h5>

                    <div class="content">
                        <div id="form-current-password" class="input-group">
                            <label asp-for="SecurityInfo.CurrentPassword"></label>
                            <span asp-validation-for="SecurityInfo.CurrentPassword"></span>
                            <input asp-for="SecurityInfo.CurrentPassword" />
                        </div>
                        <div id="form-new-password" class="input-group">
                            <label asp-for="SecurityInfo.NewPassword">New Password</label>
                            <span asp-validation-for="SecurityInfo.NewPassword"></span>
                            <input asp-for="SecurityInfo.NewPassword" />
                        </div>
                        <div id="form-confirm-new-password" class="input-group">
                            <label asp-for="SecurityInfo.ConfirmNewPassword">Confirm New Password</label>
                            <span asp-validation-for="SecurityInfo.ConfirmNewPassword"></span>
                            <input asp-for="SecurityInfo.ConfirmNewPassword" />
                        </div>
                        <div class="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Change password</button>
                        </div>
                    </div>
                </form>
            </section>
            <hr />
            <form method="post" asp-controller="Account" asp-action="DeleteUser" id="delete-account-form">
                <section class="delete-account">
                    <h5>Delete account</h5>
                    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
                    <div class="checkbox">
                        <input type="checkbox" id="delete-account" name="delete-account" required />
                        <label for="delete-account">Yes, I want to delete my account.</label>
                    </div>
                    <button id="form-button" class="btn-theme-s" type="submit">Delete</button>
                </section>
            </form>
        </div>
    </div>
</section>

@await Html.PartialAsync("_ImageBtnScriptPartial")
@await Html.PartialAsync("_SecurityPasswordValidationScriptPartial")
